@mixin _debugBox($color, $name: false, $size: 1px) {
  background-color: rgba($color, 0.05);
  @include box-shadow(0 0 0 1px rgba($color, 0.2) inset);
  @if $name != false {
    &:hover, &:focus {
      &::before {
        content: $name;
        position: absolute;
        color: white;
        @include text-shadow(0 0 1px black);
        font-weight: bold;
      }
    }
  }
}

@mixin debug {
  .debug.active {
    [title=todo]::after {
      content: "*";
      color: red;
      position: absolute;
    }
    /* grids debug */
    .line {     @include _debugBox(#110011, "line"); }
    .row {      @include _debugBox(#118811, "row"); }
    .col-1-1 {  @include _debugBox(blue, "col-1-1"); }
    .col-1-2 {  @include _debugBox(aqua, "col-1-2"); }
    .col-1-3 {  @include _debugBox(yellow, "col-1-3"); }
    .col-1-4 {  @include _debugBox(red, "col-1-4"); }
    .col-1-5 {  @include _debugBox(fuchsia, "col-1-5"); }
    .col-2-3 {  @include _debugBox(lime, "col-2-3"); }
    .col-3-4 {  @include _debugBox(#660000, "col-3-4"); }
    .col-2-5 {  @include _debugBox(#660066, "col-2-5"); }
    .col-3-5 {  @include _debugBox(#666600, "col-3-5"); }
    .col-4-5 {  @include _debugBox(#006666, "col-4-5"); }
    .cell {     @include box-shadow(0 0 0 1px rgba(red, 0.6) inset); }
    }
  // @module
  #debug-panel {
    border-bottom: 1px solid #999999;
    background-color: #cccccc;
    background-color: rgba(#cccccc, 0.8);
    @include background-image(linear-gradient(rgba(black, 0) 80%, rgba(black, 0.1)));
    position: fixed;
    top: -20px;
    width: 100%;
    @include opacity(0.1);
    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-delay(0.5s);
    .inner { padding: 5px; }
    &:hover {
      @include opacity(1);
      @include transition-delay(0s);
      top: 0;
    }
    a {
      @include unstyled-link;
      &:hover { color: black; }
      cursor: pointer;
      text-decoration: none;
      &:not(:first-child) {
        &::before {
          content: "|";
          color: black;
          padding: 0 5px;
        }
      }
    }
  }
  .debug-colors {
    float: right;
    list-style: none;
    li { float: left; }
  }
  .debug-color {
    border: 1px solid black;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 5px;
  }
}
