body.doc {
  background-color: #d6d1cd;
  background-repeat: repeat;
  font-size: 14px;
}

.doc-topbar {
  height: 40px;
  left: 0;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}
.doc-topbar .doc-brand {
  color: white;
  display: block;
  float: left;
  line-height: 1.4em;
  margin-left: -20px;
  padding: 8px 20px 12px;
  text-decoration: none;
}
.doc-topbar .doc-container {
  width: 1020px;
  margin-top: 0;
}
.doc-topbar a {
  color: #bfbfbf;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.doc-topbar a:hover {
  color: white;
  text-decoration: none;
}
.doc-topbar .doc-topbar-inner {
  background-color: #222;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(#333333, #222222);
  background-image: -moz-linear-gradient(#333333, #222222);
  background-image: -o-linear-gradient(#333333, #222222);
  background-image: linear-gradient(#333333, #222222);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}
.doc-topbar .doc-topbar-inner .doc-nav {
  display: block;
  float: left;
  left: 0;
  margin: 0 10px 0 0;
  position: relative;
}
.doc-topbar .doc-topbar-inner .doc-nav > li {
  display: block;
  float: left;
}
.doc-topbar .doc-topbar-inner .doc-nav a {
  display: block;
  float: none;
  line-height: 19px;
  padding: 10px 10px 11px;
  text-decoration: none;
}
.doc-topbar .doc-topbar-inner .doc-nav .active {
  background-color: rgba(0, 0, 0, 0.5);
}

.doc-page {
  padding-bottom: 4em;
  padding-top: 4em;
  width: 1020px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  margin: auto;
  margin-bottom: 6em;
}

.doc-container {
  margin: auto;
  width: 940px;
}
.doc-container::after {
  clear: both;
}
.doc-container::before, .doc-container::after {
  content: "";
  display: table;
}

.doc-page-header {
  background-color: #3d3c3f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #3d3c3f));
  background-image: -webkit-linear-gradient(#666666, #3d3c3f);
  background-image: -moz-linear-gradient(#666666, #3d3c3f);
  background-image: -o-linear-gradient(#666666, #3d3c3f);
  background-image: linear-gradient(#666666, #3d3c3f);
  color: #efefef;
  font-size: 14px;
  padding: 30px 10px 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: right;
  text-shadow: 1px 1px 0 rgba(51, 51, 51, 0.5), -1px -1px 0 rgba(102, 102, 102, 0.5);
}

.doc-debug {
  margin: 0 !important;
  padding: 0 !important;
}

.doc-example .doc-bd {
  background-color: #efefef;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, #cccccc), color-stop(100%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0 50%, 2 50%, color-stop(100%, #cccccc), color-stop(100%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(206, 206, 206, 0.3)), color-stop(100%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0 50%, 2 50%, color-stop(100%, rgba(206, 206, 206, 0.3)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(#cccccc 1px, rgba(0, 0, 0, 0) 1px), -webkit-linear-gradient(0 50%, #cccccc 2px, rgba(0, 0, 0, 0) 2px), -webkit-linear-gradient(rgba(206, 206, 206, 0.3) 1px, rgba(0, 0, 0, 0) 1px), -webkit-linear-gradient(0 50%, rgba(206, 206, 206, 0.3) 2px, rgba(0, 0, 0, 0) 2px);
  background-image: -moz-linear-gradient(#cccccc 1px, rgba(0, 0, 0, 0) 1px), -moz-linear-gradient(0 50%, #cccccc 2px, rgba(0, 0, 0, 0) 2px), -moz-linear-gradient(rgba(206, 206, 206, 0.3) 1px, rgba(0, 0, 0, 0) 1px), -moz-linear-gradient(0 50%, rgba(206, 206, 206, 0.3) 2px, rgba(0, 0, 0, 0) 2px);
  background-image: -o-linear-gradient(#cccccc 1px, rgba(0, 0, 0, 0) 1px), -o-linear-gradient(0 50%, #cccccc 2px, rgba(0, 0, 0, 0) 2px), -o-linear-gradient(rgba(206, 206, 206, 0.3) 1px, rgba(0, 0, 0, 0) 1px), -o-linear-gradient(0 50%, rgba(206, 206, 206, 0.3) 2px, rgba(0, 0, 0, 0) 2px);
  background-image: linear-gradient(#cccccc 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(0 50%, #cccccc 2px, rgba(0, 0, 0, 0) 2px), linear-gradient(rgba(206, 206, 206, 0.3) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(0 50%, rgba(206, 206, 206, 0.3) 2px, rgba(0, 0, 0, 0) 2px);
  -webkit-background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  -moz-background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  -o-background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 10px;
  background-position: 10px 10px, 10px 0, 0 10px;
}
.doc-example .doc-bd .doc.line, .doc-example .doc-bd .doc.row {
  margin-bottom: 10px;
}
.doc-example .doc-bd .doc.line .doc.line, .doc-example .doc-bd .doc.line .doc.row, .doc-example .doc-bd .doc.row .doc.line, .doc-example .doc-bd .doc.row .doc.row {
  margin-bottom: -5px;
  margin-top: 5px;
}
.doc-example .doc-bd .doc.line > *, .doc-example .doc-bd .doc.row .cell {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px white inset;
  -moz-box-shadow: 0 0 0 1px white inset;
  box-shadow: 0 0 0 1px white inset;
  text-shadow: 1px 1px 0 #2074af;
  background-color: rgba(38, 139, 210, 0.3);
  color: white;
  font-size: 92%;
}
.doc-example .doc-bd .doc.line > *:hover, .doc-example .doc-bd .doc.line > *:focus, .doc-example .doc-bd .doc.row .cell:hover, .doc-example .doc-bd .doc.row .cell:focus {
  background-color: rgba(38, 139, 210, 0.5);
}

.doc-example {
  margin-bottom: 10px;
}

.doc-pill {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #93a1a1;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px 3px;
  white-space: nowrap;
}
.doc-pill:active, .doc-pill:focus {
  outline: none;
}
.doc-pill:hover, .doc-pill:focus {
  color: #ebebeb;
}

a.doc {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  cursor: pointer;
  background-color: #89c2ea;
  color: #fefbf3;
  border: 1px solid #268bd2;
  padding: 2px 5px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 9px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  min-width: 65px;
}
a.doc:active, a.doc:focus {
  outline: none;
}
a.doc:hover {
  color: white;
  background-color: #449edd;
}

section.doc {
  border-bottom: 1px solid #efefef;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

pre.prettyprint {
  background: #fefbf3;
  padding: 9px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  margin-top: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
pre.prettyprint .pun, pre.prettyprint .opn, pre.prettyprint .clo, pre.prettyprint .pln, pre.prettyprint .com {
  color: #93a1a1;
}
pre.prettyprint .fun {
  color: #dc322f;
}
pre.prettyprint .str, pre.prettyprint .atv {
  color: #268bd2;
}
pre.prettyprint .lit, pre.prettyprint .kwd, pre.prettyprint .tag {
  color: #195f91;
}
pre.prettyprint .typ, pre.prettyprint .atn, pre.prettyprint .dec, pre.prettyprint .var {
  color: #cb4b16;
}

ol.linenums {
  margin: 0 0 0 40px;
}
ol.linenums li {
  color: rgba(0, 0, 0, 0.15);
  line-height: 20px;
}

pre,
code {
  background-color: #fefbf3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #cb4b16;
  font-family: menlo, monaco, andale mono, monospace, serif, courier new, fixed !important;
}

pre {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
