html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * These rules serve mainly as extensions (SASS context) sub definitions.
 * They should be kept simple for optimal extensibility.
 * In the best case you need never use this selectors in HTML.
 */
.snap-right, .media .img-ext {
  float: right;
}

.snap-left, .media .img, .nav li {
  float: left;
}

.clearfix, .media, .row,
.line {
  *zoom: 1;
}
.clearfix::before, .media::before, .row::before,
.line::before, .clearfix::after, .media::after, .row::after,
.line::after {
  content: "";
  display: table;
}
.clearfix::after, .media::after, .row::after,
.line::after {
  clear: both;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.cntr {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.link {
  text-decoration: underline;
}
.link:hover, .link:focus {
  text-decoration: none;
}

.inverted-link {
  text-decoration: none;
}
.inverted-link:hover, .inverted-link:focus {
  text-decoration: underline;
}

.unstyled-list, .nav {
  margin: 0;
  list-style: none;
  padding: 0;
}

/**
 * These rules serve mainly as extensions (SASS context) sub definitions.
 * They should be kept simple for optimal extensibility.
 * In the best case you need never use this selectors in HTML.
 */
.snap-right, .media .img-ext {
  float: right;
}

.snap-left, .media .img, .nav li {
  float: left;
}

.clearfix, .media, .row,
.line {
  *zoom: 1;
}
.clearfix::before, .media::before, .row::before,
.line::before, .clearfix::after, .media::after, .row::after,
.line::after {
  content: "";
  display: table;
}
.clearfix::after, .media::after, .row::after,
.line::after {
  clear: both;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.cntr {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.link {
  text-decoration: underline;
}
.link:hover, .link:focus {
  text-decoration: none;
}

.inverted-link {
  text-decoration: none;
}
.inverted-link:hover, .inverted-link:focus {
  text-decoration: underline;
}

.unstyled-list, .nav {
  margin: 0;
  list-style: none;
  padding: 0;
}

/**
 * These rules serve mainly as extensions (SASS context) sub definitions.
 * They should be kept simple for optimal extensibility.
 * In the best case you need never use this selectors in HTML.
 */
.snap-right, .media .img-ext {
  float: right;
}

.snap-left, .media .img, .nav li {
  float: left;
}

.clearfix, .media, .row,
.line {
  *zoom: 1;
}
.clearfix::before, .media::before, .row::before,
.line::before, .clearfix::after, .media::after, .row::after,
.line::after {
  content: "";
  display: table;
}
.clearfix::after, .media::after, .row::after,
.line::after {
  clear: both;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.cntr {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.link {
  text-decoration: underline;
}
.link:hover, .link:focus {
  text-decoration: none;
}

.inverted-link {
  text-decoration: none;
}
.inverted-link:hover, .inverted-link:focus {
  text-decoration: underline;
}

.unstyled-list, .nav {
  margin: 0;
  list-style: none;
  padding: 0;
}

/**
 * Use any sized image or flash for the right or left area. Any content in the
 * body including nesting other media blocks.
 * Example:
  <div class="media">
    <a href="http://twitter.com/stubbornella" class="img">
      <img src="http://placehold.it/16" alt="1day">
    </a>
    <div class="bd">event date</div>
  </div>
  <div class="media">
    <a href="http://twitter.com/stubbornella" class="img">
      <img src="http://placehold.it/64x64" alt="img">
    </a>
    <a href="http://twitter.com/stubbornella" class="img-ext">X</a>
    <div class="bd">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
 */
.media .img {
  /*margin-right: 10px;*/
}

.media .img img {
  display: block;
}

.media .img-ext {
  /*margin-left: 10px;*/
}

/**
 * Spacing classes
 * Should be used to modify the default spacing between objects (not between nodes of the same object)
 * Please use judiciously. You want to be using defaults most of the time, these are exceptions!
 * <type><location><size>
 *
 *spacing helpers
 *p,m = padding,margin
 *a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
 *s,m,l,n = small($spaceS),medium($spaceM),large($spaceL),none(0)
 */
@-webkit-keyframes background-highlight {
  0%, 100% {
    background-position: 0 0;
  }

  40% {
    background-position: 0 -18px;
  }
}

@-moz-keyframes background-highlight {
  0%, 100% {
    background-position: 0 0;
  }

  40% {
    background-position: 0 -18px;
  }
}

@keyframes background-highlight {
  0%, 100% {
    background-position: 0 0;
  }

  40% {
    background-position: 0 -18px;
  }
}

.col {
  display: inline;
  float: left;
}

.row {
  margin-left: -20px;
}

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.333%;
}

.col-2-3 {
  width: 66.667%;
}

.col-1-4 {
  width: 25%;
}

.col-3-4 {
  width: 75%;
}

.col-1-5 {
  width: 20%;
}

.col-2-5 {
  width: 40%;
}

.col-3-5 {
  width: 60%;
}

.col-4-5 {
  width: 80%;
}

.no-boxsizing .row .cell {
  margin-left: 20px;
}

.boxsizing .row > .col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
}

h1, .h1 {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 0.67em;
}

h2, .h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0.83em;
}

h3, .h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 1em;
}

h4, .h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 1.33em;
}

h5, .h5 {
  font-size: 12px;
  margin: 0 0 1.67em;
}

h6, .h6 {
  font-size: 12px;
  margin: 0 0 2.33em;
}

body, form {
  font-family: Ubuntu, Lucida Sans, Lucida Grande, sans-serif;
  line-height: 1.25em;
  margin: 0;
  padding: 0;
}

a {
  color: blue;
}
a:hover, a:focus {
  color: #4040ff;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  margin-bottom: 0.5em;
}

.page {
  width: 960px;
  margin: auto;
}

.head {
  background-color: #73c2ff;
}

.foot {
  background-color: #40acff;
}

.body {
  border: solid #0000a7;
  border-width: 1px 0 0;
}

.btn {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  background-repeat: repeat-x;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #40acff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #73c2ff), color-stop(100%, #40acff));
  background-image: -webkit-linear-gradient(#73c2ff, #40acff);
  background-image: -moz-linear-gradient(#73c2ff, #40acff);
  background-image: -o-linear-gradient(#73c2ff, #40acff);
  background-image: linear-gradient(#73c2ff, #40acff);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF73C2FF', endColorstr='#FF40ACFF');
  text-shadow: 1px 1px 0px #40acff;
  color: white;
  cursor: pointer;
  font-family: Ubuntu, Lucida Sans, Lucida Grande, sans-serif;
  font-size: 12px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 2em;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.btn:active, .btn:focus {
  outline: none;
}
.btn:hover, .btn:focus {
  background-position: 0 -18px;
  color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF40ACFF', endColorstr='#FF40ACFF');
}
.btn:focus {
  -webkit-animation: background-highlight infinite ease-out 1s;
  -moz-animation: background-highlight infinite ease-out 1s;
  -ms-animation: background-highlight infinite ease-out 1s;
  -o-animation: background-highlight infinite ease-out 1s;
  animation: background-highlight infinite ease-out 1s;
}
.btn::-moz-focus-inner {
  border: none;
}
.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn-small {
  line-height: 1.6em;
}

.btn-medium {
  line-height: 2.6em;
}

.btn-large {
  font-size: 14px;
  line-height: 3.2em;
  padding-left: 20px;
  padding-right: 20px;
}

.disabled, [disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.btn-fixed {
  min-width: 140px;
}

.debug-boxes {
  /* grids debug */
}
.debug-boxes .line {
  background-color: rgba(17, 0, 17, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(17, 0, 17, 0.2) inset;
  -moz-box-shadow: 0 0 0 1px rgba(17, 0, 17, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(17, 0, 17, 0.2) inset;
}
.debug-boxes .line:hover::before, .debug-boxes .line:focus::before {
  text-shadow: 0 0 1px black;
  content: "line";
  color: white;
  font-weight: bold;
  position: absolute;
}
.debug-boxes .row {
  background-color: rgba(17, 136, 17, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(17, 136, 17, 0.2) inset;
  -moz-box-shadow: 0 0 0 1px rgba(17, 136, 17, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(17, 136, 17, 0.2) inset;
}
.debug-boxes .row:hover::before, .debug-boxes .row:focus::before {
  text-shadow: 0 0 1px black;
  content: "row";
  color: white;
  font-weight: bold;
  position: absolute;
}
.debug-boxes .col-1-1 {
  background-color: rgba(0, 0, 255, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 255, 0.2) inset;
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 255, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 255, 0.2) inset;
}
.debug-boxes .col-1-1:hover::before, .debug-boxes .col-1-1:focus::before {
  text-shadow: 0 0 1px black;
  content: "col-1-1";
  color: white;
  font-weight: bold;
  position: absolute;
}
.debug-boxes .col-1-2 {
  background-color: rgba(0, 255, 255, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 0 0 1px rgba(0, 255, 255, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(0, 255, 255, 0.2) inset;
}
.debug-boxes .col-1-2:hover::before, .debug-boxes .col-1-2:focus::before {
  text-shadow: 0 0 1px black;
  content: "col-1-2";
  color: white;
  font-weight: bold;
  position: absolute;
}
.debug-boxes .col-1-3 {
  background-color: rgba(255, 255, 0, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 0, 0.2) inset;
  -moz-box-shadow: 0 0 0 1px rgba(255, 255, 0, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(255, 255, 0, 0.2) inset;
}
.debug-boxes .col-1-3:hover::before, .debug-boxes .col-1-3:focus::before {
  text-shadow: 0 0 1px black;
  content: "col-1-3";
  color: white;
  font-weight: bold;
  position: absolute;
}
.debug-boxes .col-1-4 {
  background-color: rgba(255, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.2) inset;
}
.debug-boxes .col-1-4:hover::before, .debug-boxes .col-1-4:focus::before {
  text-shadow: 0 0 1px black;
  content: "col-1-4";
  color: white;
  font-weight: bold;
  position: absolute;
}
.debug-boxes .col-1-5 {
  background-color: rgba(255, 0, 255, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(255, 0, 255, 0.2) inset;
  -moz-box-shadow: 0 0 0 1px rgba(255, 0, 255, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(255, 0, 255, 0.2) inset;
}
.debug-boxes .col-1-5:hover::before, .debug-boxes .col-1-5:focus::before {
  text-shadow: 0 0 1px black;
  content: "col-1-5";
  color: white;
  font-weight: bold;
  position: absolute;
}
.debug-boxes .col-2-3 {
  background-color: rgba(0, 255, 0, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 255, 0, 0.2) inset;
  -moz-box-shadow: 0 0 0 1px rgba(0, 255, 0, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(0, 255, 0, 0.2) inset;
}
.debug-boxes .col-2-3:hover::before, .debug-boxes .col-2-3:focus::before {
  text-shadow: 0 0 1px black;
  content: "col-2-3";
  color: white;
  font-weight: bold;
  position: absolute;
}
.debug-boxes .col-3-4 {
  background-color: rgba(102, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(102, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 0 0 1px rgba(102, 0, 0, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(102, 0, 0, 0.2) inset;
}
.debug-boxes .col-3-4:hover::before, .debug-boxes .col-3-4:focus::before {
  text-shadow: 0 0 1px black;
  content: "col-3-4";
  color: white;
  font-weight: bold;
  position: absolute;
}
.debug-boxes .col-2-5 {
  background-color: rgba(102, 0, 102, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(102, 0, 102, 0.2) inset;
  -moz-box-shadow: 0 0 0 1px rgba(102, 0, 102, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(102, 0, 102, 0.2) inset;
}
.debug-boxes .col-2-5:hover::before, .debug-boxes .col-2-5:focus::before {
  text-shadow: 0 0 1px black;
  content: "col-2-5";
  color: white;
  font-weight: bold;
  position: absolute;
}
.debug-boxes .col-3-5 {
  background-color: rgba(102, 102, 0, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(102, 102, 0, 0.2) inset;
  -moz-box-shadow: 0 0 0 1px rgba(102, 102, 0, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(102, 102, 0, 0.2) inset;
}
.debug-boxes .col-3-5:hover::before, .debug-boxes .col-3-5:focus::before {
  text-shadow: 0 0 1px black;
  content: "col-3-5";
  color: white;
  font-weight: bold;
  position: absolute;
}
.debug-boxes .col-4-5 {
  background-color: rgba(0, 102, 102, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 102, 102, 0.2) inset;
  -moz-box-shadow: 0 0 0 1px rgba(0, 102, 102, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(0, 102, 102, 0.2) inset;
}
.debug-boxes .col-4-5:hover::before, .debug-boxes .col-4-5:focus::before {
  text-shadow: 0 0 1px black;
  content: "col-4-5";
  color: white;
  font-weight: bold;
  position: absolute;
}
.debug-boxes .cell {
  -webkit-box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.6) inset;
  -moz-box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.6) inset;
  box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.6) inset;
}

.debug-grid .debug-grid-container {
  position: relative;
}
.debug-grid .debug-grid-container-item {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(1%, rgba(0, 0, 0, 0.2)), color-stop(1%, rgba(0, 0, 0, 0)), color-stop(11.5%, rgba(0, 0, 0, 0)), color-stop(11.5%, rgba(0, 0, 0, 0.2)), color-stop(13.5%, rgba(255, 255, 255, 0.2)), color-stop(13.5%, rgba(0, 0, 0, 0)), color-stop(86.5%, rgba(0, 0, 0, 0)), color-stop(86.5%, rgba(255, 255, 255, 0.2)), color-stop(88.5%, rgba(0, 0, 0, 0.2)), color-stop(88.5%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.2)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 11.5%, rgba(0, 0, 0, 0.2) 11.5%, rgba(255, 255, 255, 0.2) 13.5%, rgba(0, 0, 0, 0) 13.5%, rgba(0, 0, 0, 0) 86.5%, rgba(255, 255, 255, 0.2) 86.5%, rgba(0, 0, 0, 0.2) 88.5%, rgba(0, 0, 0, 0) 88.5%, rgba(0, 0, 0, 0) 99%, rgba(0, 0, 0, 0.2) 99%, rgba(255, 255, 255, 0.2) 100%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 11.5%, rgba(0, 0, 0, 0.2) 11.5%, rgba(255, 255, 255, 0.2) 13.5%, rgba(0, 0, 0, 0) 13.5%, rgba(0, 0, 0, 0) 86.5%, rgba(255, 255, 255, 0.2) 86.5%, rgba(0, 0, 0, 0.2) 88.5%, rgba(0, 0, 0, 0) 88.5%, rgba(0, 0, 0, 0) 99%, rgba(0, 0, 0, 0.2) 99%, rgba(255, 255, 255, 0.2) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 11.5%, rgba(0, 0, 0, 0.2) 11.5%, rgba(255, 255, 255, 0.2) 13.5%, rgba(0, 0, 0, 0) 13.5%, rgba(0, 0, 0, 0) 86.5%, rgba(255, 255, 255, 0.2) 86.5%, rgba(0, 0, 0, 0.2) 88.5%, rgba(0, 0, 0, 0) 88.5%, rgba(0, 0, 0, 0) 99%, rgba(0, 0, 0, 0.2) 99%, rgba(255, 255, 255, 0.2) 100%);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 11.5%, rgba(0, 0, 0, 0.2) 11.5%, rgba(255, 255, 255, 0.2) 13.5%, rgba(0, 0, 0, 0) 13.5%, rgba(0, 0, 0, 0) 86.5%, rgba(255, 255, 255, 0.2) 86.5%, rgba(0, 0, 0, 0.2) 88.5%, rgba(0, 0, 0, 0) 88.5%, rgba(0, 0, 0, 0) 99%, rgba(0, 0, 0, 0.2) 99%, rgba(255, 255, 255, 0.2) 100%);
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
  background-position: -9px 0;
  background-size: 80px auto;
  margin-left: -10px;
  height: 100%;
  position: fixed;
  padding: 0 10px;
  top: 0;
}

.debug.active [title=todo]::after {
  content: "*";
  color: red;
  position: absolute;
}

#debug-panel {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(80%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.1));
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
  -webkit-transition: 0.2s 0.5s;
  -moz-transition: 0.2s 0.5s;
  -o-transition: 0.2s 0.5s;
  transition: 0.2s 0.5s;
  border-bottom: 1px solid #999999;
  background-color: #cccccc;
  background-color: rgba(204, 204, 204, 0.8);
  position: fixed;
  top: -20px;
  width: 100%;
  z-index: 100;
}
#debug-panel .inner {
  padding: 5px;
}
#debug-panel:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  top: 0;
}
#debug-panel a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  cursor: pointer;
  text-decoration: none;
}
#debug-panel a:active, #debug-panel a:focus {
  outline: none;
}
#debug-panel a:hover {
  color: black;
}
#debug-panel a:not(:first-child)::before {
  content: "|";
  color: black;
  padding: 0 5px;
}

.debug-colors {
  float: right;
  list-style: none;
}
.debug-colors li {
  float: left;
}

.debug-color {
  border: 1px solid black;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}
